In [26]:
import pandas as pd 
import numpy as np 
from sklearn import linear_model

In [27]:
df = pd.read_csv('ln.csv')

In [28]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         NaN    60
4    140        5         3.0    82
5    115        2         8.0    10

In [29]:
df.experience

0     5.0
1    13.0
2     4.0
3     NaN
4     3.0
5     8.0
Name: experience, dtype: float64

In [30]:
df.experience.mean()

6.6

In [31]:

exm_fit = df.experience.median()

In [32]:
exm_fit

5.0

In [33]:
df.experience = df.experience.fillna(exm_fit)

In [34]:
df.experience

0     5.0
1    13.0
2     4.0
3     5.0
4     3.0
5     8.0
Name: experience, dtype: float64

In [35]:
df

   speed  car_age  experience  risk
0    200       15         5.0    85
1     90       17        13.0    20
2    165       12         4.0    93
3    110       20         5.0    60
4    140        5         3.0    82
5    115        2         8.0    10

In [38]:
reg = linear_model.LinearRegression()

In [39]:
reg.fit(df[['speed','car_age','experience']],df.risk)

LinearRegression()

In [42]:
reg.predict([[160,10,5]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([71.37146872])

In [43]:
reg.coef_

array([ 0.33059217,  1.61053246, -6.20772074])

In [44]:
reg.intercept_

33.410000910435905

risk = M1 * speed + M2 * car_age + M3 * experience + intercept

In [1]:
0.33059217 * 160 + 1.61053246 * 10 + -6.20772074 * 5 + 33.410000910435905

71.3714690104359